{% extends 'app/base.html' %}
{% load static %}

{% block content %}


<main class="flex-shrink-0" style="padding-bottom: 0px;">

    <div class="container-fluid text-center bg-dark text-light" style="padding: 60px 15px 0; height: 300px;">
        <h1 class="mt-5"> Mulheres na América Portuguesa</h1>
        <h3>Grupo de Pesquisas Humanidades Digitais</h3>
    </div>


<!-- Introdução - O Projeto M.A.P. -->
    <div class="container text-center" style="padding: 30px 15px 0;">
        <div class="row">
            <h1>A Plataforma M.A.P.</h1>
        </div>
        <div class="row">
            <div class="col">
                <p style="text-align: justify;">
                    Mulheres na América Portuguesa - M.A.P. - é um Projeto conduzido por pesquisadoras do Grupo de Pesquisas Humanidades Digitais da Universidade de São Paulo, abrigado no Núcleo de Apoio à Pesquisas em Etimologia e História da Língua Portuguesa (NEHiLP) e ligado ao Laboratório Virtual de Humanidades Digitais (LaViHD).
                </p>

                <p style="text-align: justify;">
                    O M.A.P. está reunindo um conjunto de fontes documentais imensamente importantes para os estudos filológicos e para os estudos da história das mulheres no Brasil, na forma de documentos escritos por mulheres, ou que relatam seu discurso, entre 1500 e 1822, no espaço atlântico português (veja aqui nosso projeto completo e as perguntas que o motivaram).
                </p>
            </div>
        </div>
    </div>

    <!--ACOMPANHE O PROJETO-->
    <div class="container-fluid bg-dark text-light" style="padding: 10px 15px 35px;">
        <div class="container">
            <div class="row text-center">
                <h1>Acompanhe o projeto</h1>
            </div>
            <div class="row text-center" style="padding-top: 25px">
                <div class="col">
                    <i class="bi bi-instagram h1"></i>
                </div>

                <div class="col">
                    <i class="bi bi-twitter h1"></i>
                </div>

                <div class="col">
                    <i class="bi bi-youtube h1"></i>
                </div>

                <div class="col">
                    <i class="bi bi-facebook h1"></i>
                </div>

                <div class="col">
                    <i class="bi bi-calendar h1"></i>
                </div>
            </div>
        </div>
    </div>


</main>

{% endblock %}

</body>

</html>